body{
  margin: 0;
  background: #dbd9d9;
  color: black;
}

ul {
  list-style: none;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  position: relative;
}

.title {
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}

.champ{
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
}

.header{
  padding-top: 25px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 840px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo > span {
  width: 38px;
  height: 40px;
  background: url(https://store.leagueoflegends.co.kr/assets/logo-league.png) no-repeat;
  background-size: auto 100%;
  text-indent: -1000px;
  overflow: hidden;
}

.header-logo::after {
  display: block;
  content: '';
  background: url(../public/logo_text.svg) no-repeat;
  width: 88px;
  height: 22px;
  margin-left: 5px;
}

.search-wrapper {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
}

.search-input {
  border: 1px solid #C79A3B;
  height: 24px;
  flex-grow: 1;
  margin-right: 8px;
  background: none;
  color: #757575;
  outline: none;
}

.search-button {
  background:#C79A3B;
  border: none;
  color: black;
  font-weight: 600;
}

.header-icons {
  display: flex;
}

.header-icons > ul {
  display: flex;
  padding: 0;
}

.header-icons > ul > li {
  margin-left: 8px;
}

.navbar {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
  background-color: #010F19;
}

.navbar a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.slider{
  position: relative;
  width: 100%;
  height: 220px;
}

.champ-img {
  width: 100%;
  height: auto;
}