body{
  margin: 0;
  background: #dbd9d9;
  color: black;
}

.main {
  text-align: center;
  margin: auto;
}

.title {
  text-align: center;
}

.champ{
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
}

.navbar {
  background: white;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

.champ-img {
  width: 100%;
  height: auto;
}